<div class="container my-5">
  <div class="row">
    <% if @profile != current_user %>
      <%= link_to conversations_path do  %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    <% end %>
    <div class="text-center">
      <h1 class="display-4">Profile</h1>
        <%= image_tag(@profile.photo.present? ? @profile.photo : 'user_pp.png', class: "rounded-circle img-thumbnail", width: 200, id: 'profile-image') %>
        <%= form_with(model: @profile, url: profile_path, method: :patch, html: { class: 'needs-validation profile-update', novalidate: '' }) do |form| %>
          <%= form.label :photo, class: 'd-none' %>
          <% if @profile == current_user %>
            <div class="fond-camera">
              <%= form.file_field :photo, class: 'd-none', id: 'photoUpload', accept: 'image/*', onchange: 'this.form.submit();' %>
              <label for="photoUpload" class="camera-icon-label">
                <i class="fa fa-camera" style="cursor: pointer;"></i>
              </label>
            </div>
        <% end %>
          <% end %>
          <% if @profile == current_user %>
            <div class="profile-info">
              <h2><%= @profile.username %></h2>
            </div>
          <% else %>
            <div class="profile-info">
              <h2><%= @profile.username %> | <%= @profile.gender.capitalize %> | <%= @profile.age %> Years</h2>
            </div>
          <% end %>
          <% if @profile == current_user %>
            <div class="games-logo-container">
              <% if @profile.games.present? %>

                <div class="game-logo">
                <% shown_games = [] %>
                <% @profile.games.each do |game| %>
                  <% if game.logo.present? && !shown_games.include?(game.name) %>
                    <% shown_games << game.name %>
                    <%= image_tag("game-logo/#{game.logo}", alt: game.name, class: "rounded-circle img-thumbnail small-round-logo", title: game.name) %>
                  <% end %>
                <% end %>
                </div>
              <% end %>
              <% end %>

                <% if @profile == current_user %>
                  <div class="add-game">
                    <%= link_to new_profile_user_game_path(@profile), class: "circle-btn" do %>
                    <i class="fas fa-plus"></i>
                    <% end %>
                  </div>
                <% end %>
            </div>
            <div>
            <% if @profile != current_user %>
              <% if @profile.games.present? %>

                <div class="game-logo">
                <% shown_games = [] %>
                <% @profile.games.each do |game| %>
                  <% if game.logo.present? && !shown_games.include?(game.name) %>
                    <% shown_games << game.name %>
                    <div class="game-logo-notlogged">
                      <%= image_tag("game-logo/#{game.logo}", alt: game.name, class: "rounded-circle img-thumbnail medium-round-logo", title: game.name) %>
                      <div class="mx-3 text-left">
                        <% user_game = @profile.user_games.find_by(game_id: game.id) %>
                        <% if user_game %>
                          <p>Level: <%= user_game.level %></p>
                          <p>Mood: <%= user_game.mood %></p>
                        <% else %>
                          <span>No user game information</span>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            </div>
            <% end %>
      </div>

    <% if @profile == current_user %>
    <div class="form-bg col-10 mx-auto">
      <%= form_with(model: @profile, url: profile_path, method: :patch, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
        <div class="mt-2">
          <%= form.label :username, class: 'form-label mt-4' %>
            <div class="InputContainer">
              <%= form.text_field :username, class: "input", required: true %>
            </div>
            <div class="invalid-feedback">
              Please enter your username.
          </div>
        </div>

        <div class="mt-2">
          <%= form.label :age, class: 'form-label' %>
            <div class="InputContainer">
              <%= form.number_field :age, class: "input custom-number-input", required: true %>
            </div>
            <div class="invalid-feedback">
              Please enter your age.
            </div>
        </div>

        <div class="mt-2">
          <%= form.label :gender, class: 'form-label' %>
            <div class="InputContainer">
              <%= form.select :gender, ['Male', 'Female', 'Other'], {}, {class: 'form-select input', required: true} %>
            </div>
            <div class="invalid-feedback">
              Please select your gender.
            </div>
        </div>
          <div class="mt-2">
            <%= form.label :email, class: 'form-label' %>
              <div class="InputContainer">
                <%= form.email_field :email, class: 'input', required: true %>
              </div>
              <div class="invalid-feedback">
                Please enter a valid email.
              </div>
          </div>
          <div class="mx-auto">
            <%= form.submit 'Update', class: 'btn custom-button' %>
          </div>
        <% end %>
      <% end %>
      <% if @profile == current_user %>
      <div class="d-flex justify-content-center align-items-center mb-5">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-white mt-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
