<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
<%= image_tag(@profile.photo.present? ? @profile.photo : 'user_pp.jpg', class: "rounded-circle img-thumbnail", width: 200) %>      </div>
    </div>
    <div class="col-md-8">
      <h1 class="display-4">My Profile</h1>
      <dl class="row">
        <dt class="col-sm-3">Username:</dt>
        <dd class="col-sm-9"><%= @profile.username %></dd>

        <dt class="col-sm-3">Age:</dt>
        <dd class="col-sm-9"><%= @profile.age %></dd>

        <dt class="col-sm-3">Gender:</dt>
        <dd class="col-sm-9"><%= @profile.gender %></dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9"><%= @profile.email %></dd>
      </dl>
    </div>
  </div>

  <div class="my-5">
    <h2 class="mb-3">My Games</h2>
    <% @user_games.each do |user_game| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= user_game.game.name %></h5>
          <p class="card-text">
            <strong>Mood:</strong> <%= user_game.mood %><br>
            <strong>Level:</strong> <%= user_game.level %>
          </p>
          <div class="d-flex">
            <%= link_to "Edit", edit_profile_user_game_path(@profile, user_game), class: 'btn btn-primary me-2' %>
            <%= button_to "Delete", profile_user_game_path(@profile, user_game), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Add Game", new_profile_user_game_path(@profile), class: 'btn btn-success mt-3' %>
  </div>
</div>
