<div class="container my-5">
  <div class="row">

    <div class="text-center">
      <h1 class="display-4">Profile</h1>

        <%= image_tag(@profile.photo.present? ? @profile.photo : 'user_pp.png', class: "rounded-circle img-thumbnail", width: 200) %>
          <i class="fa-regular fa-circle-camera" style="color: #fa00ff;"></i>
            <div class="profile-info">
              <h2><%= @profile.username %></h2>
            </div>

            <div class="games-logo-container">
              <% if @profile.games.present? %>
                <div class="game-logo">
                  <% shown_games = [] %>
                    <% @profile.games.each do |game| %>
                      <% if game.logo.present? && !shown_games.include?(game.name) %>
                        <% shown_games << game.name %>
                        <%= image_tag("game-logo/#{game.logo}", alt: game.name, class: "rounded-circle img-thumbnail small-round-logo") %>
                      <% end %>
                    <% end %>
                </div>
              <% end %>
              <div class="add-game">
                <%= link_to new_profile_user_game_path(@profile) do %>
                <i class="fas fa-plus fa-lg" style="color: white;"></i>
              <% end %>
            </div>
          </div>
      </div>

    <div class="form-bg col-10 mx-auto">
      <%= form_with(model: @profile, url: profile_path, method: :patch, html: { class: 'needs-validation', novalidate: '' }) do |form| %>

          <div class="mt-2">
            <%= form.label :username, class: 'form-label mt-4' %>
              <div class="InputContainer">
                <%= form.text_field :username, class: "input", required: true %>
              </div>
              <div class="invalid-feedback">
                Please enter your username.
            </div>
          </div>

          <div class="mt-2">
            <%= form.label :age, class: 'form-label' %>
              <div class="InputContainer">
                <%= form.number_field :age, class: "input custom-number-input", required: true %>
              </div>
              <div class="invalid-feedback">
                Please enter your age.
              </div>
          </div>

          <div class="mt-2">
            <%= form.label :gender, class: 'form-label' %>
              <div class="InputContainer">
                <%= form.select :gender, ['Male', 'Female', 'Other'], {}, {class: 'form-select input', required: true} %>
              </div>
              <div class="invalid-feedback">
                Please select your gender.
              </div>
          </div>

          <div class="mt-2">
            <%= form.label :email, class: 'form-label' %>
              <div class="InputContainer">
                <%= form.email_field :email, class: 'input', required: true %>
              </div>
              <div class="invalid-feedback">
                Please enter a valid email.
              </div>
          </div>

          <div class="mt-2">
            <%= form.label :photo, class: 'form-label' %>
              <div class="InputContainer">
                <%= form.file_field :photo, class: 'input', accept: 'image/*' %>
              </div>
          </div>

          <div class="mx-auto">
            <%= form.submit 'Update', class: 'btn custom-button' %>
          </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-white mt-3" %>
    </div>
  </div>
</div>
