<div class="container my-5">
<div class="conversations-container">
  <h1>Messages</h1>

    <% @conversations.each do |conversation| %>
      <div class="conversation-card">
         <div class="photo">
          <% if conversation.sender == current_user %>
            <%= image_tag(conversation.recipient.photo, class: "rounded-circle-mini img-thumbnail", width: 70) %>
          <% else %>
            <%= image_tag(conversation.sender.photo, class: "rounded-circle-mini img-thumbnail", width: 70) %>
          <% end %>
        </div>
        <div class="conversation-card-infos">
          <div>
            <% if conversation.sender == current_user %>
              <%= link_to "#{conversation.recipient.username}", conversation_path(conversation) %>
            <% else %>
              <%= link_to "#{conversation.sender.username}", conversation_path(conversation) %>
            <% end %>
          </div>
          <div class="last-msg">
            <% if conversation.messages.any? %>
              <% last_message = conversation.messages.last %>
              <%= "- #{truncate(last_message.content, length: 20)}" %>
            <% else %>
              No messages
            <% end %>
          </div>
          <div class="last-msg-time">
            <% if conversation.messages.any? %>
              <%= conversation.messages.last.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            <% else %>
              No messages
            <% end %>
          </div>
        </div>
        <div class="my-auto">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
    <% end %>
</div>
</div>
