<div class="container my-5">
  <div class="conversations-container">
    <h1>Messages</h1>

    <% @conversations.each do |conversation| %>
      <div class="conversation-card">
        <div class="photo">
          <% if conversation.sender == current_user %>
            <%= image_tag(conversation.recipient.photo, class: "rounded-circle-mini img-thumbnail", width: 70) %>
          <% else %>
            <%= image_tag(conversation.sender.photo, class: "rounded-circle-mini img-thumbnail", width: 70) %>
          <% end %>
        </div>
        <div class="conversation-card-infos">
          <div>
            <% if conversation.sender == current_user %>
              <%= link_to "#{conversation.recipient.username}", conversation_path(conversation) %>
            <% else %>
              <%= link_to "#{conversation.sender.username}", conversation_path(conversation) %>
            <% end %>
          </div>
          <div class="last-msg">
            <% if conversation.messages.any? %>
              <% last_message = conversation.messages.last %>
              <%= "- #{truncate(last_message.content, length: 20)}" %>
            <% else %>
              No messages
            <% end %>
          </div>
          <div class="last-msg-time">
            <% if conversation.messages.any? %>
              <%= conversation.messages.last.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
            <% else %>
              No messages
            <% end %>
          </div>
        </div>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink_<%= conversation.id %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_<%= conversation.id %>">
            <%= link_to "Delete conversation", conversation_path(conversation), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
            <% if conversation.sender == current_user %>
              <%= link_to "Show profile", profile_path(conversation.recipient.id), class: "dropdown-item", data: { toggle: "modal", target: "#profileModal" } %>
            <% else %>
              <%= link_to "Show profile", profile_path(conversation.sender.id), class: "dropdown-item", data: { toggle: "modal", target: "#profileModal" } %>
            <% end %>
          </div>
        </div>
      </div>



    <% end %>
  </div>
</div>
