<div class="container my-5">
<div id="conversation" data-controller="conversation-subscription" data-conversation-subscription-conversation-id-value="<%= @conversation.id %>">

  <div class="match-info">
<%= image_tag(@liked_user.photo.present? ? @liked_user.photo : 'user_pp.png', class: "avatar rounded-circle") %>
    <div class="username"><%= @liked_user.username %></div>
  </div>

  <div id="messages" data-conversation-subscription-target="messages">
    <% @conversation.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= form_with(model: [ @conversation, @conversation.messages.new ], local: false, html: { data: { action: "turbo:submit-end->conversation-subscription#resetForm" }} ) do |form| %>
    <%= form.text_field :content, placeholder: "Type a message..." %>
    <%= form.submit "Send" %>
  <% end %>
</div>
</div>
