<footer class="footer-mobile" id="main-footer">

   <div class="footer-image">
  <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

   <div class="search-icon">
    <%= link_to search_path do %>
     <i class="fas fa-search fa-lg" style="color: white;"></i>
     <% end %>
  </div>

<div class="conversation-icon notification <%= 'unread' if current_user.notification.messages_unread %>" data-controller="notifications" >
  <%= link_to conversations_path do %>
    <i class="fas fa-comment fa-lg" style="color: white;"></i>
  <% end %>
</div>

  <div class="profile-icon">
    <% if user_signed_in? %>
      <%= link_to profile_path(current_user) do %>
      <i class="fas fa-user fa-lg" style="color: white;"></i>
    <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
      <i class="fas fa-user fa-lg" style="color: white;"></i>
      <% end %>
    <% end %>
  </div>
</footer>
