<h1>Find your perfect Mate</h1>
  <%= form_with(url: search_profiles_path, method: :get) do |form| %>
    <div>
      <%= form.label :name, "Game name", required: true %>
      <%= form.select :name, Game.pluck(:name)  %>
    </div>

    <div>
      <%= form.label :level, "Level" %>
      <%= form.number_field :level %>
    </div>

    <div>
      <%= form.label :mood, "Mood" %>
      <%= form.select :mood, ['','Chill', 'Try hard', 'Competitive'] %>
    </div>

    <div>
      <%= form.label :gender, "Gender" %>
      <%= form.select :gender, ['','masculine', 'feminine'] %>
    </div>

    <div>
      <%= form.label :gender, "Age" %>
      <%= form.number_field :age %>
    </div>

    <%= form.submit "Find me a mate" %>
  <% end %>
</div>
