<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <%= link_to "Search", search_profiles_path %>

<%= form_with(url: search_profiles_path, method: :get) do |form| %>
  <div>
    <%= form.label :name, "Nom du jeu" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :level, "Level" %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :mood, "Mood" %>
    <%= form.select :mood, ['Chill', 'Try hard', 'Competitive'] %>
  </div>

  <div>
    <%= form.label :gender, "Gender" %>
    <%= form.select :gender, ['masculine', 'feminine'] %>
  </div>

  <%= form.submit "Rechercher" %>
<% end %>
