<div class="container my-5">
  <h1>Edit User Game</h1>

    <div class="form-bg col-10 mx-auto">
      <%= form_with(model: @user_game, url: profile_user_game_path(@user_game), method: :patch) do |form| %>

    <div class="mt-3">
      <%= form.label :level %>
        <div class="InputContainer mt-2">
          <%= form.number_field :level, class: "input custom-number-input" %>
        </div>
    </div>

    <div class="mt-2">
      <%= form.label :mood %>
        <div class="InputContainer mt-2">
          <%= form.select :mood, ['Chill', 'Try hard', 'Competitive'], { }, { class: 'form-select input' } %>
        </div>
    </div>

      <%= form.submit "Update", class: 'btn custom-button' %>

      <% end %>
    </div>
</div>
