<div class="container">
  <div class="row col-4">
    <% if @search_results.empty? %>
      <p>No mates found for you</p>
    <% else %>
      <% @search_results.each do |search_result| %>
      <div>
        <%= search_result.username %>
        <%= search_result.birthdate %>
        <%= search_result.gender %>
        <br>
        <% user_game = search_result.user_games.find_by(game: Game.find_by(name: params[:name])) %>
        <%= user_game.mood %>
        <%= user_game.level %>
        <%= user_game.game.name %>
      </div>
      <% end %>
    <% end %>
</div>
</div>
