<body>

  <div class="container">
    <div class="row">
      <% if @search_results.empty? %>
        <p>No mates found for you</p>
      <% else %>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% @search_results.each_with_index do |search_result, index| %>
              <div class="swiper-slide" id="slide-<%= index %>">
                <div class="search-card">
                  <div class="swiper-pagination"></div>
                  <div class="search-card-infos">
                    <h2>
                      <%= search_result.username %>
                    </h2>
                    <%= search_result.gender %> - <%= search_result.age %> ans
                  </div>
                  <div class="search-card-infos">
                      <% user_game = search_result.user_games.find_by(game: Game.find_by(name: params[:name])) %>
                      <% if user_game %>
                        <%= user_game.mood %>
                        <%= user_game.level %>
                        <%= user_game.game.name %>
                  </div>
                  <div class="search-block-btn">
                    <%= button_to profile_likes_path(profile_id: search_result.id, current_user_id: current_user.id, name: params[:name], level: params[:level], mood: params[:mood], gender: params[:gender], age: params[:age]), method: :post, params: { liked_user_id: search_result.id }, class: "dislike-button", remote: true, onclick: "closeCardAndMoveToNextSlide(#{index})" do %>
                    <i class="fa-solid fa-xmark"></i>
                    <% end %>
                    <%= button_to profile_likes_path(profile_id: search_result.id, current_user_id: current_user.id, name: params[:name], level: params[:level], mood: params[:mood], gender: params[:gender], age: params[:age]), method: :post, params: { liked_user_id: search_result.id }, class: "like-button", remote: true, onclick: "closeCardAndMoveToNextSlide(#{index})" do %>
                      <i class="fa-regular fa-heart"></i>
                    <% end %>
                  </div>
                  <% else %>
                    <p>User game not found</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <!-- Incluez le fichier JavaScript de SwiperJS -->
  <script src="chemin/vers/swiper.js"></script>

  <!-- Initialisez le carousel SwiperJS -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 'auto',
      spaceBetween: 16,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
</body>
<script>
  $(document).ready(function() {
    $(".like-button").on("ajax:success", function(event) {
      // Réponse réussie de la requête AJAX
      var data = event.detail[0];

      // Mettre à jour l'interface utilisateur en conséquence
      if (data.success) {
        // Le like a été enregistré avec succès, effectuez les modifications nécessaires dans l'interface
        alert("User liked successfully.");
      } else {
        // Une erreur s'est produite lors de l'enregistrement du like, affichez un message d'erreur ou effectuez d'autres actions nécessaires
        alert("An error occurred while liking the user.");
      }
    });
  });
</script>
