<div class="container">
  <div class="row">

    <% if @search_results.empty? %>
      <div class="suggestion-div">
              <div>
                <h2>No Mates found</h2>
                <%= link_to search_path do %>
                <button class="custom-button">Try another research</button>
                <% end %>
              </div>
            </div>
    <% else %>

        <div class="cards-container" data-controller="user-games">
          <div class="cards">
            <% @search_results.each_with_index do |search_result, index| %>
               <div class="search-card " style="background-image: url('<%= search_result.photo.url %>'); z-index: calc(100 - <%= index %>);"
                data-user-games-target="card"
                data-profile-id="<%= search_result.id %>"
                data-current-user-id="<%= current_user.id %>">

              <div class="search-card-infos <% unless index == 0 %>hidden<% end %>">
                <h2><%= search_result.username %></h2>
                <%= search_result.gender.upcase %> - <%= search_result.age %> yo
              </div>

              <div class="search-card-infos <% unless index == 0 %>hidden<% end %>">
                  <% user_game = search_result.user_games.find_by(game: Game.find_by(name: params[:name])) %>
                  <% if user_game %>
                    <%= image_tag("game-logo/#{user_game.game.logo}", alt: user_game.game.name, class: "rounded-circle-mini img-thumbnail small-round-logo", title: user_game.game.name) %>
                    <br>
                    Mood: <%= user_game.mood %>
                    <br>
                    Level: <%= user_game.level %>
                  <% else %>
                    <p></p>
                  <% end %>
              </div>

              <div class="search-block-btn">
                   <button class="dislike-button" data-action="user-games#handleSwipeLeft:prevent"><i class="fa-solid fa-xmark"></i></button>

                <%= button_to(profile_likes_path(profile_id: search_result.id, current_user_id: current_user.id, name: params[:name], level: params[:level], mood: params[:mood], gender: params[:gender], age: params[:age]), method: :post, params: { liked_user_id: search_result.id }, class: "like-button", remote: true, data: { action: "user-games#handleSwipeRight:prevent"} ) do %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>

              </div>

            </div>
            <% end %>
      <div class="suggestion-div hidden">
              <div>
                <h2>No Mates found</h2>
                <%= link_to search_path do %>
                <button class="custom-button">Try another research</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

